[Unit]
Description=UCULEARN APP
After=network-online.target

[Container]
Image=docker.io/oksesaneka22/uculearn:latest
PublishPort=6767:6767
#Volume=/opt/app/data:/app/data
Environment=FLASK_ENV=production

[Install]
WantedBy=default.target
